[submodule "tormenta-server"]
	path = tormenta-server
	url = https://github.com/groundhogs/tormenta-server.git
[submodule "tormenta-client"]
	path = tormenta-client
	url = https://github.com/groundhogs/tormenta-client.git
